<div class="container mt-3 header position-relative">
    <img src="./assets/images/header-img.jpg" class="w-100 h-100 object-fit-cover" alt="beach image">
    <div class="header-overlay position-absolute"></div>

    <div class="header-content position-absolute text-center">
        <h2 class="fw-bold header-title mb-3">AI Models for your needs</h2>
        <p class="fs-4 text-white px-4">We provide ready-to-use Ai models and custom model solutions for you</p>

        <button type="button" class="btn btn-outline-light btn-lg mt-4 fw-bold" [routerLink]="['/services']">Get Started</button>
    </div>

    <div class="header-bar position-absolute px-5 d-flex justify-content-between align-items-center">
        <div>
            AI technology plays a vital role in improving safety in diverse settings — including public spaces, schools,
            transportation systems, workplaces, events, healthcare facilities, prisons, and retail environments — by
            offering real-time analysis and alerts on potential violence.
        </div>
    </div>
</div>