<div class="container my-5">
  <div class="text-center mb-3">
    <h1 class="fw-bold mb-3">Services</h1>
    <h5 class="text-secondary">
      Implement a wide range of computer vision and NLP models in your projects
    </h5>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-3 pt-4">
    <select class="form-select w-25" [(ngModel)]="selectedFilter" (change)="onFilterChange($event)">
      <option value="">All Categories</option>
      @for (category of categories; track category) {
      <option [value]="category">{{ category }}</option>
      }
    </select>

    <div class="input-group w-25">
      <span class="input-group-text bg-white border-end-0">
        <i class="fas fa-search"></i>
      </span>
      <input type="text" class="form-control border-start-0" placeholder="Search" [(ngModel)]="searchQuery"
        (input)="onSearchChange($event)" />
    </div>
  </div>

  <div class="d-flex flex-wrap gap-3 py-4">
    @for (model of filteredModels; track model.id) {
    <div class="card shadow-sm p-3" style="width: 250px">
      <div class="card-body">
        <!-- Icon and Title -->
        <h5 class="card-title d-flex align-items-center gap-2 mb-2 justify-content-center">
          <i class="fas fa-crosshairs"></i> {{ model.name }}
        </h5>

        <p class="card-text text-muted text-center" style="font-size: 0.9rem">
          {{ model.description }}
        </p>

        <!-- Button -->
        <button (click)="openOverlay(model)"
          class="btn btn-primary d-flex align-items-center justify-content-center gap-2 w-100">
          <i class="fas fa-rocket"></i> TRY IT OUT
        </button>
      </div>
    </div>
    }
  </div>
</div>

<!-- Overlay -->
@if (showOverlay && selectedModel) {
<div class="overlay" (click)="closeOverlay()">
  <div class="overlay-content" (click)="$event.stopPropagation()">
    <!-- only show this if user is logged in && if not show a message to login implement isLoggedIn in global service -->
    @if (isLoggedIn) {
    <app-technology [selectedModel]="selectedModel"></app-technology>
    } @else {
    <div class="container mt-2 bg-white rounded-3 p-3 w-25">
      <p class="text-center">Please login to try out this service</p>
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary" (click)="login()">Login</button>
      </div>
    </div>
    }
  </div>
</div>
}