<nav class="navbar navbar-expand-md bg-white py-4">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="./assets/images/logo-thing.png" alt="logo" width="100"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-md-0 fw-medium">
                <li class="nav-item mx-3">
                    <a class="nav-link" aria-current="page" routerLink="home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" routerLink="services" routerLinkActive="active">Services</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" routerLink="industries" routerLinkActive="active">Industries</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" routerLink="technology" routerLinkActive="active">Technology</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" routerLink="object" routerLinkActive="active">Object</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" routerLink="places" routerLinkActive="active">Places</a>
                </li>
            </ul>
            <a class="btn btn-success fw-medium px-4" routerLink="/login">Logout</a>
        </div>
    </div>
</nav>
