.no-border:focus {
  box-shadow: none;
}

.cool-bg2 {
  height: 100vh;
  background-color: #e5e5f7;
  // opacity: 0.3;
  background: repeating-linear-gradient(
    -45deg,
    #868cff,
    #868cff 5.5px,
    #f7f7ff 5.5px,
    #f7f7ff 27.5px
  );
}

.btn-primary {
  //   --bs-btn-color: #35353f;
  --bs-btn-bg: #4a6dce;
  --bs-btn-border-color: #e1ebea;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #3251a5;
  --bs-btn-hover-border-color: #b9c7f0;
  transition: all 0.2s ease-in-out;
}
