<section class="light">
    <div class="container py-2">
        <div class="h1 text-center text-dark" id="pageHeaderTitle">Solutions for your industry</div>

        <article class="postcard light blue autoShow">
            <a class="postcard__img_link">
                <img class="postcard__img" src="./assets/images/img1.jpg" alt="Gas station" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title blue"><a>Gas station</a></h1>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Implementing violence detection technology in gas station cameras
                    enhances safety by identifying fights, assaults, and vandalism in real-time, allowing for immediate
                    alerts to security personnel. This enables faster emergency responses to incidents like robberies,
                    arson, or explosions while deterring crimes such as fuel theft and property damage. The system also
                    captures high-quality footage for investigations, helping identify suspects and reducing legal
                    disputes. Additionally, it integrates with security measures like alarms and automated shut-offs,
                    making it a valuable tool for ensuring a safer environment for customers, employees, and businesses.
                </div>
            </div>
        </article>
        <article class="postcard light blue autoShow">
            <a class="postcard__img_link">
                <img class="postcard__img" src="./assets/images/img2.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title red"><a>Construction site</a></h1>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Violence detection technology in construction site cameras enhances
                    safety by identifying fights, assaults, and vandalism in real-time, allowing for immediate alerts to
                    security personnel. It helps prevent workplace disputes, ensures a safer environment, and deters
                    trespassers or theft, protecting valuable equipment. The system also captures high-quality footage
                    for investigations, reducing liability risks and insurance claims. Additionally, it integrates with
                    other security measures like access control and alarms, making it a crucial tool for maintaining
                    order and protecting workers on-site.</div>
            </div>
        </article>
        <article class="postcard light blue autoShow">
            <a class="postcard__img_link">
                <img class="postcard__img" src="./assets/images/img5.jpg" alt="Gas station" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title blue"><a>Shopping Center</a></h1>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Violence detection technology in shopping center cameras enhances
                    security by identifying fights, assaults, and vandalism in real-time, allowing for quick response
                    from security personnel. It helps prevent conflicts from escalating, ensuring a safer environment
                    for shoppers and staff while deterring theft and criminal activities. The system also captures
                    high-quality footage for investigations, reducing liability risks and supporting legal disputes.
                    Additionally, it integrates with existing security measures like access control and emergency
                    alerts, making it an essential tool for maintaining safety and order in busy retail spaces.
                </div>
            </div>
        </article>
        <article class="postcard light blue autoShow">
            <a class="postcard__img_link">
                <img class="postcard__img" src="./assets/images/img6.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title red"><a>Cities</a></h1>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Violence detection technology in city surveillance cameras improves
                    public safety by identifying fights, assaults, vandalism, and other violent incidents in real-time,
                    enabling a faster response from law enforcement. It helps prevent crime, ensures safer streets, and
                    deters illegal activities in high-risk areas. The system also provides valuable video evidence for
                    investigations, reducing crime rates and aiding legal proceedings. Additionally, it integrates with
                    smart city security measures like emergency alerts and traffic monitoring, making it a crucial tool
                    for maintaining order and protecting citizens.</div>
            </div>
        </article>
    </div>
</section>