<section class="vh-100" class="cool-bg">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <form class="card-body p-5 text-center" [formGroup]="signupForm" (ngSubmit)="onSubmit()">

                        <h3 class="mb-5">Register</h3>

                        <div class="form-floating mb-4">
                            <select class="form-select no-border" id="floatingSelect" formControlName="role">
                                <option value="Admin">Admin</option>
                                <option value="User">User</option>
                            </select>
                            <label for="floatingSelect">Role</label>
                        </div>

                        <div class="form-floating mb-4">
                            <input type="text" class="form-control no-border" id="floatingInput" placeholder="username"
                                formControlName="username" />
                            <label for="floatingInput">username</label>
                            @if(signupForm.get('username')?.errors && signupForm.get('username')?.touched) {
                            <div class="w-75 text-start text-danger ms-1 mt-1">
                                @if(signupForm.get('username')?.getError('required') ) {
                                <p class="m-0">username is required</p>
                                }
                                @else if(signupForm.get('username')?.getError('minlength') ) {
                                <p class="m-0">username should be more than 3 characters</p>
                                }
                            </div>
                            }
                        </div>

                        <div class="form-floating mb-4">
                            <input type="text" class="form-control no-border" id="floatingInput" placeholder="email"
                                formControlName="email" />
                            <label for="floatingInput">email</label>
                            @if(signupForm.get('email')?.errors && signupForm.get('email')?.touched) {
                            <div class="w-75 text-start text-danger ms-1 mt-1">
                                @if(signupForm.get('email')?.getError('required') ) {
                                <p class="m-0">email is required</p>
                                }
                                @else if(signupForm.get('email')?.getError('email') ) {
                                <p class="m-0">email format isn't right </p>
                                }
                            </div>
                            }
                        </div>

                        <div class="form-floating mb-4">
                            <input type="password" class="form-control no-border" id="floatingPassword"
                                placeholder="Password" formControlName="password" />
                            <label for="floatingPassword">Password</label>
                            @if(signupForm.get('password')?.errors && signupForm.get('password')?.touched) {
                            <div class="w-75 text-start text-danger ms-1 mt-1">
                                @if(signupForm.get('password')?.getError('required') ) {
                                <p class="m-0">password is required</p>
                                }
                                @else if(signupForm.get('password')?.getError('pattern') ) {
                                <p class="m-0">password should be more than 6 characters</p>
                                }

                            </div>
                            }
                        </div>

                        <button [disabled]="signupForm.invalid" class="btn btn-primary btn-lg mt-1 w-100"
                            type="submit">Register</button>

                        <p class="pt-4">Already have an account? <a routerLink="/login">Login</a> </p>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>