<div class="home-screen container">
    <div class="row">
        <div class="col-lg-4 p-3 d-flex flex-column justify-content-center align-items-center">
            <h2 class="pb-2">Tailored solutions for your industry.</h2>
            <p class="text-secondary">See how different industries are better protected by utilizing proactive live
                remote monitoring services.</p>
        </div>
        <div class="col-lg-4">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex justify-content-between align-items-center card-1 mb-3">
                    <img src="./assets/images/img1.jpg" alt="" class="sqr-img shadow">
                    <div class="text-center w-50">
                        <h5>Gas Station</h5>

                        <button class="custom-button" [routerLink]="['/user/industries']">
                            <span class="icon">
                                <fa-icon class="pe-2" [icon]="faCalendar"></fa-icon>
                            </span>
                            Learn more
                        </button>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center card-1 mb-3">
                    <img src="./assets/images/img2.jpg" alt="" class="sqr-img shadow">
                    <div class="text-center w-50">
                        <h5>Construction Site</h5>
                        <button class="custom-button" [routerLink]="['/user/industries']">
                            <span class="icon">
                                <fa-icon class="pe-2" [icon]="faCalendar"></fa-icon>
                            </span>
                            Learn more
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex justify-content-between align-items-center card-1 mb-3">
                    <div class="text-center w-50">
                        <h5>Shopping Center</h5>
                        <button class="custom-button" [routerLink]="['/user/industries']">
                            <span class="icon">
                                <fa-icon class="pe-2" [icon]="faCalendar"></fa-icon>
                            </span>
                            Learn more
                        </button>
                    </div>
                    <img src="./assets/images/img5.jpg" alt="" class="sqr-img shadow">
                </div>
                <div class="d-flex justify-content-between align-items-center card-1 mb-3">
                    <div class="text-center w-50">
                        <h5>Cities</h5>
                        <button class="custom-button" [routerLink]="['/user/industries']">
                            <span class="icon">
                                <fa-icon class="pe-2" [icon]="faCalendar"></fa-icon>
                            </span>
                            Learn more
                        </button>
                    </div>
                    <img src="./assets/images/img6.jpg" alt="" class="sqr-img shadow">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container p-4 mt-2" id="explaination">
    <p class="text-center mb-4 title-p">
        Violence detection is a critical aspect of ensuring public safety, both online and offline. Let's explore the
        advanced technologies used in violence detection, particularly deep learning-based algorithms that analyze video
        datasets to identify unusual and violent human actions.
    </p>
    <img src="./assets/images/violence1.png" alt="" class="w-50 mx-auto d-block shadow autoShow">
    <h3 class="mt-4 px-3">What is Violence Detection?</h3>
    <p class="p-3">
        Violence detection is a subset of action and activity recognition, used to analyze video datasets for unusual
        human actions classified as violent. These deep learning-based algorithms can detect violence in various
        environments, identifying incidents such as fights, fires, car crashes, and arson. For example, arson detection
        aids fire investigations, while car crash detection can improve emergency response times. These algorithms also
        recognize assaults, vandalism, and explosions, enhancing safety and security by providing real-time alerts for
        swift response.
    </p>
    <h3 class="mt-4 px-3">Applications of Violence Detection</h3>
    <h4 class="mt-4 px-3">Public Safety</h4>

    <p class="p-3">Violence detection algorithms play a crucial role in public safety by identifying and responding to
        incidents such as:</p>
    <ul>
        <li>Fights</li>
        <li>Fires</li>
        <li>Car Crashes</li>
        <li>Arson</li>
        <li>Assaults</li>
        <li>Vandalism</li>
        <li>Explosions</li>
    </ul>
    <p class="p-3">By providing real-time alerts, these technologies enable swift intervention and help prevent the
        escalation of violence.</p>
    <h4 class="mt-4 px-3">Social Media Monitoring</h4>
    <p class="p-3">Another vital application of violence detection is monitoring content on social media platforms.
        These algorithms automatically flag and remove violent content, protecting users and maintaining community
        standards. By quickly identifying and addressing harmful videos, violence detection helps create safer online
        environments and reduces the burden on human moderators. This technology is crucial in preventing the spread of
        graphic violence, harassment, and other harmful behaviors online.</p>

    <h3 class="mt-4 px-3">Techniques in Violence Detection</h3>
    <p class="p-3">In recent years, numerous methods for detecting violence have been developed, each leveraging
        different
        classification techniques. Violence detection techniques can be broadly categorized into three types based on
        the classifier used:</p>

    <ol>
        <li class="my-1">Machine Learning Approaches: These rely on training algorithms with labeled data to identify
            violent
            actions.</li>
        <li class="my-1">Support Vector Machines (SVM): SVM-based methods use hyperplane separation to classify violent
            and
            non-violent behaviors.</li>
        <li class="mt-1 mb-4">Deep Learning Techniques: Particularly effective, these employ neural networks to automatically
            detect
            complex patterns in video data, providing high accuracy and scalability.</li>
    </ol>

    <img src="./assets/images/violence2.png" alt="" class="w-50 mx-auto d-block shadow autoShow">
    <h3 class="mt-4 px-3">Detect Violence With AI Video Analytics</h3>
    <p class="p-3">AI video analytics can employ these violence detection methods in various settings such as public
        transportation systems to minimize violence and ensure public safety. By continuously monitoring surveillance
        footage, these systems can detect and alert authorities to incidents such as fights, thefts, or vandalism in
        real-time. This proactive approach not only deters potential offenders but also enables rapid intervention,
        thereby reducing the likelihood of escalation and ensuring a safer environment for commuters. Implementing
        violence detection in public transportation enhances overall security measures and promotes a sense of safety
        among passengers.</p>

</div>

<!-- <div class="home-screen container">
    <div class="row">
        <div class="col-lg-4 container">
            <div class="row justify-content-center g-4">
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="travel-card">
                        <img src="./assets/images/img3.jpg" alt="Mountain" />
                        <div class="location-badge">
                            <fa-icon [icon]="faMapMarkerAlt"></fa-icon> Nepal
                        </div>
                        <div class="card-footer">
                            <h5 class="mb-0">Mountain</h5>
                            <div class="mb-1">
                                ★ ★ ★ ★ ★
                            </div>
                            <div class="book-now">
                                <fa-icon [icon]="faCalendar"></fa-icon> Book Now
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="travel-card">
                        <img src="./assets/images/img4.jpg" alt="Dubai" />
                        <div class="location-badge">
                            <fa-icon [icon]="faMapMarkerAlt"></fa-icon> UAE
                        </div>
                        <div class="card-footer">
                            <h5 class="mb-0">Dubai</h5>
                            <div class="mb-1">
                                ★ ★ ★ ★ ★
                            </div>
                            <div class="book-now">
                                <fa-icon [icon]="faCalendar"></fa-icon> Book Now
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div> -->