<div class="h-100 p-4">
  <h1>User Statistics</h1>
  <p>Here you can find the list of users and their statistics.</p>

  <!-- Check if userStats is not empty -->
  @if (userStats.length > 0) {
  <h1>Users</h1>
  <p>Here you can find the list of users and their statistics.</p>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Total Uploads</th>
          <th>Average Duration</th>
          <th>Last Detection Status</th>
          <th>Last Upload Date</th>
        </tr>
      </thead>
      <tbody>
        @for (stat of userStats; track stat.user.email) {
        <tr>
          <td>{{ stat.user.username }}</td>
          <td>{{ stat.user.email }}</td>
          <td>{{ stat.totalUploads }}</td>
          <td>{{ stat.averageDuration }}</td>
          <td>{{ stat.lastDetectionStatus }}</td>
          <td>{{ stat.lastUploadDate | date : "short" }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @else {
  <div class="d-flex justify-content-center align-items-center">
    <p class="w-100 alert alert-danger">
      No stats found.<i class="fas fa-exclamation-circle text-danger"></i>
    </p>
  </div>
  }
</div>
