.footer {
  background-color: #eff6fc;

  h5 {
    color: #6ba8ec;
    padding-bottom: 15px;
  }

  ul li {
    margin-bottom: 6px;
    cursor: pointer;
    font-weight: 500;
    color: #aaaaaa;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-badge {
    height: 50px;
    object-fit: contain;
  }

  i {
    color: #6ba8ec;
    cursor: pointer;
    transition-duration: 200ms;

    &:hover {
      color: #4885cc;
    }
  }
}
